::ng-deep snack-bar-container.alert-red{
    padding: 20px;
    margin-top: 70%;
    background-color: rgb(142, 250, 0);
    color: white;
  }

  section {
    display: table;
  }
  .example-button-row {
    display:inline-flex;
    width: 172px;
  }