<h1 mat-dialog-title>Confirmation</h1><hr>
<div mat-dialog-content>
    <h3>voulez-vous supprimer cet élement?</h3><hr>
</div>
<div mat-dialog-actions>
    <section>
    <div class="example-button-row">
     <button mat-raised-button color="primary" (click)="suppVoiture()">confirmer</button>
     <button mat-raised-button color="accent"  (click)="cancel()" >Annuler</button>
   </div>
   </section>
</div>










