<button  class ="btnAjout" mat-raised-button color="primary" (click)="openDialogAjout()">Ajouter</button>
<div>
  <div>
    <!-- *ngIf="showlist" -->
    <div class="content" fxLayout="row wrap" fxLayoutGap="16px grid">
      <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let element of pageSlice">
        <mat-card class="mat-elevation-z4"  >
          <mat-card-header>

            <!-- <mat-card-title>{{element.marque}}</mat-card-title>
            <mat-card-subtitle>MODELE:{{element.model}}</mat-card-subtitle> -->
           
            <p class="marque-modele">{{element.marque}} <strong>{{element.model}}</strong></p>

          </mat-card-header>
          <img class="style-image" mat-card-image src={{element.image}}>
          <mat-card-content>
            
              <h4>
              <div class="prix-Ldd"> 
                <div class="priceMessageLeft">Prix T.T.C:</div>
                <div  class="priceMessageRight"><span>{{element.prix}}€</span></div>
                </div>
              </h4>
              <div class="prix-Ldd"> 
              <div class="priceMessageLeft">LLD:</div>
              <div class="priceMessageRight"><span >148€</span> /mois</div>
              </div>

              <p><strong >Formed:</strong> {{element.formed}}</p>
              <p><strong>Moteur:</strong> {{element.motor}} TCe 130 EDC FAP</p>
              <p><strong>Finition:</strong>Intens</p>
              <p class="coul"><strong >Coloris:</strong>
                <img class="icon-couleur" height="20" width="20" src="https://images.elite-auto.fr/visuel/colors/color_53020b9846842.jpeg" title="Noir Etoilé">
                <img class="icon-couleur" height="20" width="20" src="https://images.elite-auto.fr/visuel/colors/color_52c6d785d9335.jpeg" title="Orange Valencia">
                <img class="icon-couleur" height="20" width="20" src="https://images.elite-auto.fr/visuel/colors/color_53047473b5d66.jpeg" title="Bleu Iron">
                <img class="icon-couleur" height="20" width="20" src="https://images.elite-auto.fr/visuel/colors/color_5301cb57ab242.jpeg" title="Gris Platine">
                <img class="icon-couleur" height="20" width="20" src="https://images.elite-auto.fr/visuel/colors/color_57cec51108e9d.jpeg" title="Blanc Nacré/Toit Noir">
              </p>

        
          </mat-card-content>  
          <mat-card-actions>
            <div class="container">
                 <button mat-button color="accent" (click)="show(element)" [routerLinkActive]="['active']"
                 [routerLink]="['/detail',element.id]" matTooltip="click ici pour plus d'information">plus de details</button>
            </div>
          </mat-card-actions>

          <p class="aide-reprise"> Jusqu'à <strong>800€</strong> d'aide à la reprise</p>
         
          <section>
            <div class="example-button-row">  
              <button mat-raised-button color="primary" (click)="openDialogModifier(element)" matTooltip="click pour modifier l'element ">Modifier</button>
              &nbsp;&nbsp;<button mat-raised-button color="accent" (click)="openDialogSupprimer(element.id)" matTooltip="click pour supprimer cet element a la BD">Supprimer</button>
            </div>
          </section>
     
        </mat-card>
        
      </div>
     
      
        <router-outlet></router-outlet>
       
    </div>    
   
    </div>
    <mat-paginator class="style-paginator" 
    [length]="this.object.length"
    [pageSize]="4"
    [pageSizeOptions]="[4, 8, 12]"
    (page)="OnPageChange($event)">
</mat-paginator>
</div>


  
  