.content { 
    padding: 16px; 
  }
  
  .content > mat-card { 
     width:200px; 
   
   }
  

      ::ng-deep snack-bar-container.alert-red{
        padding: 20px;
        margin-top: 70%;
        background-color: rgb(142, 250, 0);
        color: white;
      }

   .mat-elevation-z4 { 
     max-height: 100%;
     min-height:100%;
     max-width: 100%;
     min-width:100%;
  }
  .style-image { 
     min-width:100%; 
    min-height:350px;
  
  }
 


section {
  display: table;
}
.example-button-row {
  display:inline-flex;
  width: 172px;
}
.btnAjout{
  margin-top: 12px;
  margin-left: 12px;

}
.marque-modele {
  font-size: 16px;
  padding-bottom: 5px;
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-bottom: 5px;

}

strong{
  color: #272d33;
}
.coul{
  overflow: hidden;
  display: flex;
}
.icon-couleur{
  border: 1px solid #dde1e3;
  border-radius: 50%;
  box-shadow: 1px 1px 0 #dde1e3;
  padding: 2px;
  margin-left: 4px;
  width: 20px;
  height: 20px;
}

.icon-equipment{
  margin: 10px 0 5px;
  padding-left: 0;
  overflow: hidden;
  display: flex;
}




.a-size-medium {
  font-size: 17px!important;
  line-height: 1.255!important;
}
.a-size-medium {
  text-rendering: optimizeLegibility;
}
.a-color-price {
  /* color: #B12704!important; */
  color:rgb(17, 134, 134);
}

.prix-Ldd {
  width: 100%!important;
  display: flex!important;
  color:rgb(17, 134, 134);
}



span {
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    
}

.priceMessageLeft{
  width: 40%;
  text-align: right;
}
.priceMessageRight{
  width: 60%;
  text-align: left;
  padding-left: 5px;
}

.aide-reprise{
  color: #546474!important;
  font-style: italic;
  text-align: center!important;
}
.style-paginator{
  width: 850px;
  padding-right: 42px;
  padding-left: 8px;
}
@media only screen and (max-width: 320px) 
{
 .mat-card{
  width: 293px;
 }
} 
/* @media only screen and (max-width: 320px) 
{
 .mat-card{
  flex: 1 1 100%;
  box-sizing: border-box;
  max-width: 100%;
  padding: 0px 16px 16px 0px;
  width: 346px;
 }
 
} */

/* @media only screen and (min-width: 375px) 
{
 .mat-card{

  width: 270px;
 } 
 
} */
/* @media only screen and (max-width: 425px) 
{
 .mat-card{
  
  width: 346px;
 }
 
}    */


 
