<mat-dialog-content class="style-dialog-ajout" >  
<h3 mat-dialog-title>Ajout</h3>
<div class="row">    
  <div class="col-md-4 style-inline-ajout">
      <p>
        <mat-form-field appearance="outline">
          <mat-label>marque</mat-label>
          <input #mymarque type="text" matInput placeholder="marque" [(ngModel)]="marque" >
          <mat-icon  matSuffix class="couleur-icon">commute</mat-icon>
          
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>model</mat-label>
          <input #mymodel type="text" matInput placeholder="model" [(ngModel)]="model">
          <mat-icon matSuffix class="couleur-icon"></mat-icon>
        </mat-form-field>
      </p>
    </div>
    <div class="col-md-4 style-inline-ajout">
      
      <p>
        <mat-form-field appearance="outline">
          <mat-label>prix</mat-label>
          <input #myprix type="number" matInput placeholder="prix" [(ngModel)]="prix">
          <mat-icon matSuffix class="couleur-icon">euro_symbol</mat-icon>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <mat-label>formed</mat-label>
          <input  #myformed matInput [matDatepicker]="picker" placeholder="formed" [max]="maxDate" [matDatepickerFilter]="dateFilter" [(ngModel)]="formed">
          <mat-datepicker-toggle matSuffix [for]="picker" class="style-date-picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </p>   
    </div>
    <div class="col-md-4 style-inline-ajout">
      <p>
        <mat-form-field appearance="outline">
          <mat-label>motor</mat-label>
          <input  type="text" matInput placeholder="motor" [(ngModel)]="motor">
          <mat-icon matSuffix class="couleur-icon"></mat-icon>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>couleur</mat-label>
          <input #mycouleur type="text" matInput placeholder="couleur" [(ngModel)]="couleur">
          <mat-icon matSuffix class="couleur-icon"></mat-icon>
        </mat-form-field>
      </p>
    </div>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>image</mat-label>
          <input #myimage type="text" matInput placeholder="src img" [(ngModel)]="image">
          <mat-icon matSuffix class="couleur-icon"></mat-icon>
        </mat-form-field>
      </p>
     

</div> 
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button color="primary" (click)="postVoiture()" matTooltip="click pour l'ajout au BD">Ajout</button>
  <button mat-raised-button mat-dialog-close color="accent" matTooltip="click pour annuler l'ajout">Annuler</button>
</mat-dialog-actions> 
 

