<div class="content">
<mat-toolbar  color="warn">
  <mat-toolbar-row class="mediaToolbar" >
   
    <img src="../assets/eliteauto.png" alt="" (click)="refrechAccuil()"/> 
    
    <h6>LA NOUVELLE DISTRIBUTION AUTOMOBILE</h6>
 
    <span class="example-spacer"></span>
    
    
    <div>  
      <button  mat-button (click)="show()" routerLinkActive="active"
       routerLink="voiture-component">
  
       Achat<mat-icon class="color-icon-shop" matBadge="{{mtBadge}}" matBadgePosition="after" matBadgeColor="warn">
        add_shopping_cart</mat-icon>
       </button>
       <button class="info" mat-button [routerLink]="'/accounts'"> Reprise voiture </button>
       <button mat-button [routerLink]="'/create-account'"> Occasions </button>
       <button mat-button [routerLink]="'/contacts'"> Mon compte </button>
       <button mat-button [routerLink]="'/create-contact'"> Contact </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar> 
 
<!-- <div *ngIf="!showlist">

 <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">

   <ol class="carousel-indicators">
    
    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
   </ol>

  <div class="carousel-inner">
    <div class="carousel-item active">
      <img style="width:100%; height:100%;" src="https://prod.pictures.autoscout24.net/listing-images/12e4abb6-4a00-45d8-be0e-768ceef481e6_429806c6-dd0b-4165-ae66-8c36e091fcfc.jpg/1280x960.jpg"  alt="...">                       
      <div class="carousel-caption d-none d-md-block">
       
        <h5 >
          <form class="example-form">
          <mat-form-field class="example-full-width">
            <input type="text" matInput placeholder=" marque,modèle ...">
            <mat-icon  matSuffix>search</mat-icon>
          </mat-form-field>
        </form>
      </h5>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
    </div>
      
    <div class="carousel-item">
      <img  style="width:100%; height:100%;" src="../assets/stafet.jpg"  alt="...">
    
      <div class="carousel-caption d-none d-md-block">
        <h5><input style="width:120px;height:24px;" id="input_search" class="input_search" type="text" placeholder="Rechercher par marque, un modèle ..."><img style="background-color: lightseagreen;width:24px;height:24px;" src="https://icon-library.com/images/search-bar-icon-png/search-bar-icon-png-15.jpg"></h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </div>

    <div class="carousel-item">
      <img style="width:100%; height:100%;" src="https://prod.pictures.autoscout24.net/listing-images/bc991aab-bd05-740c-e053-0100007fd1d4_221dfd91-1919-4dec-be10-d0e61b36a142.jpg/1280x960.jpg"  alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Third slide label</h5>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
    </div>

  </div>

  <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
   
</div> -->
<div *ngIf="!showlist">
<section class="filter">
  <div class="slogon">
          Votre véhicule neuf jusqu'à -43.50%
  </div>

    <div class="form_filter">
      <div class="recherche_rapide">
          <div class="recherche">
              <input id="input_search" class="input_search" type="text" placeholder="Rechercher par marque, un modèle ...">
              <a href="javascript:return 0;" class="submit_search"> <img src="../assets/search-icon.png"> </a>
          </div>
         <a href="javascript:return 0;" class="toggle_filters arrowBottom"> ou par <b> filtres </b> <div> </div> </a>
      </div>

     <div class="h1New">
          <h1>VOTRE VOITURE NEUVE AVEC UN MANDATAIRE AUTO</h1>
      </div>
  </div>
</section>

<a href="/faq-covid-19"><div class="imgAchat"></div></a>

</div>
<router-outlet></router-outlet>
</div>




