/* .content { 
    padding: 16px; 
  } */
 
 
  .example-spacer {
    flex:1 1 auto;
  }
  .content> mat-toolbar >mat-toolbar-row > img{ 
    /* width:200px; */
    height:60px;
   }
   .content > mat-toolbar{ 
    background: rgb(7, 7, 7);
    color: #fff;
    height:20px;
   }
   .content  .carouselslide{ 
    width:50px;
    height:2px;
   }
   .content .carouselExampleCaptions{
    width:900px;
    height:400pxx;
    }
    .carousel-inner{
      width:100%;
    height:900px;
    }
    .carousel-item {
      width:100%;
    height:900px;
    }


 .content> mat-toolbar >mat-toolbar-row > h6{ 
  color: rgb(255, 255, 255);
 }



 .example-form {
  /* min-width: 150px;
  max-width: 500px; */
  width: 400px;
  height:750px ;
  color: #fff;
  margin-left:500px;
  margin-right: 60px;
}

.example-full-width {
  width: 400px;
  height:900px;
}
.input{
  color: #fff;
  height: 160px;
}
.mat-icon{
  color: #fff;
}


section.filter {
  background: url(../assets/auto-banier.jpg);
  background-size: 100%  575px;
  background-position-y: -61px;
  background-repeat: no-repeat;
  width: 100%;
  height:500px;
}
.slogon {
  font-size: 28px;
  text-align: center;
  color: white;
  font-family: "Maax-Bold";
  margin-top: 45px;
  float: left;
  width: 100%;
  line-height: 30px;
  text-transform: uppercase;
}
.recherche_rapide {
  
  margin: 0 auto;
  padding: 38px 0;
  display: flex;
  position: relative;
  z-index: 2;
  width: 901px;
    height: 133px;
    padding-top: 150px;
}

section .h1New {
  height: 55px;
  text-align: center;
  color: #fff;
  opacity: 1;
  padding-top:100px;
}
.recherche {
  box-shadow: 0 0 3px;
  display: flex;
  width: calc(100% - 262px);
}
.recherche_rapide input {
  height: 57px;
  border-radius: 3px 0 0 3px;
  padding-left: 18px;
  padding-right: 18px;
  margin-bottom: 0;
  width: calc(100% - 72px);
 
}

.toggle_filters {
  width: 232px;
  height: 57px;
  background: #097893;
  margin-left: 30px;
  border-radius: 3px;
  text-align: left;
  font-size: 14px;
  padding-top: 18px;
  color: white;
  font-style: italic;
  padding-bottom: 18px;
  display: block;
  box-shadow: 0;
  padding-left: 18px;
}
.arrowBottom div {
  background: url(../assets/arrow_bottom.jpg);
  background-size:12px 7px;
  float: right;
  width: 12px;
  margin-right: 19px;
  height: 12px;
  margin-top: 8px;
}
.toggle_filters {
  
  text-align: left;
  font-size: 14px;
  
  color: white;
  font-style: italic;
  
}
.toggle_filters {
  width: 232px;
  height: 57px;
  background: #097893;
  margin-left: 30px;
  border-radius: 3px;
  text-align: left;
  font-size: 14px;
  padding-top: 18px;
  color: white;
  font-style: italic;
  padding-bottom: 18px;
  display: block;
  box-shadow: 0;
  padding-left: 18px;
}
a {
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
}

[type='text'] {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 2.4375rem;
  margin: 0 0 1rem;
  padding: .5rem;
  border: 1px solid #cacaca;
  border-radius: 0;
  background-color: #fefefe;
  box-shadow: inset 0 1px 2px rgba(10,10,10,0.1);
  font-family: inherit;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  color: #0a0a0a;
  transition: box-shadow .5s,border-color .25s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
section h1 {
  color: #fff;
  font-size: 19px;
  font-weight: 800;
  line-height: 22.8px;
  text-transform: uppercase;
  letter-spacing: .38px;
  padding-top: 8px;
  margin: 0;
  display: block;
}
section .h1New {
  height: 55px;
  text-align: center;
  color: #fff;
  opacity: 1;
  margin: 0;
}
input {
  /* -webkit-writing-mode: horizontal-tb !important; */
  text-rendering: auto;
  color: -internal-light-dark(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: textfield;
  background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
  -webkit-rtl-ordering: logical;
  cursor: text;
  margin: 0em;
  font: 400 13.3333px Arial;
  padding: 1px 2px;
  border-width: 2px;
  border-style: inset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(195, 195, 195));
  border-image: initial;
}
input {
  overflow: visible;
}
.recherche_rapide img {
  height: 57px;
}
a img {
  border: 0;
}
img {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;
}
a {
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
}
.toggle_filters {
  width: 232px;
  height: 57px;
  background: #097893;
  margin-left: 30px;
  border-radius: 3px;
  text-align: left;
  font-size: 14px;
  padding-top: 18px;
  color: white;
  font-style: italic;
  padding-bottom: 18px;
  display: block;
  box-shadow: 0;
  padding-left: 18px;
}

.imgAchat {
  height: 140px;
  background: url(https://images.elite-auto.fr/bandeaux/etape_achat_1200x100.png) no-repeat 0 0 #eef0f1;
  background-position: center top;
  margin-bottom: 10px;
}



 @media only screen and (max-width: 1024px) 
 {
    .info 
      {
    /* flex:1 1 auto; */
    margin-left: -20px;
    /* min-width: min-content; */
     }
  
}
 /* @media only screen and (min-width: 320px) 
{
 .mediaToolbar{
   flex: none;
 }
 
}  */
