::ng-deep snack-bar-container.alert-red{
    padding: 20px;
    margin-top: 70%;
    background-color: rgb(142, 250, 0);
    color: white;
  }
  .style-dialog-modif{
    transform: none;
     width: 550PX;
     height: 650PX;
  }
  .style-inline-modif{
    display: inline-table;
  }
  .style-date-picker{
    color: rgb(4, 0, 255);
  }
  h3{
    text-align: center!important;
  }