
<mat-dialog-content class="style-dialog-modif">
<h3>Modifier</h3>
<div class="row">
    
      <div class="col-md-4 style-inline-modif">
          <p>
        <mat-form-field appearance="outline">
          <mat-label>marque</mat-label>
          <input #mymarque  type="text" matInput placeholder="{{objVoiture.marque}}" [(ngModel)]="marque">
          <mat-icon  matSuffix class="style-date-picker">commute</mat-icon>
          
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>model</mat-label>
          <input #mymodel  type="text" matInput placeholder="{{objVoiture.marque}}" [(ngModel)]="model" >
          <mat-icon matSuffix></mat-icon>
        </mat-form-field>
      </p>
    </div>
    <div class="col-md-4 style-inline-modif">
        <p>
            <mat-form-field appearance="outline">
              <mat-label>prix</mat-label>
              <input #myprix type="number" matInput placeholder="{{objVoiture.prix}}" [(ngModel)]="prix">
              <mat-icon matSuffix class="style-date-picker">sentiment_very_satisfied</mat-icon>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field>
              <mat-label>formed</mat-label>
              <input  #myformed  matInput [matDatepicker]="picker" [max]="maxDate" [matDatepickerFilter]="dateFilter" placeholder="{{objVoiture.formed}}" [(ngModel)]="formed" >
              <mat-datepicker-toggle matSuffix [for]="picker" class="style-date-picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </p>

    </div>
    <div class="col-md-4 style-inline-modif">
        <p>
            <mat-form-field appearance="outline">
              <mat-label>motor</mat-label>
              <input  type="text" matInput placeholder="{{objVoiture.motor}}" [(ngModel)]="motor">
              <mat-icon matSuffix ></mat-icon>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="outline">
              <mat-label>couleur</mat-label>
              <input #mycouleur type="text" matInput placeholder="{{objVoiture.couleur}}" [(ngModel)]="couleur" >
              <mat-icon matSuffix></mat-icon>
            </mat-form-field>
          </p>
    </div>
    <div class="col-md-4 style-inline-modif">
        <p>
            <mat-form-field appearance="outline">
              <mat-label>image</mat-label>
              <input #myimage type="text" matInput placeholder="{{objVoiture.image}}" [(ngModel)]="image">
              <mat-icon matSuffix></mat-icon>
            </mat-form-field>
          </p>
    </div>

</div>
       
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button color="primary" (click)="patchVoiture()" matTooltip="click ici pour confirmer la modification" >Confirmer</button>
  <button mat-raised-button mat-dialog-close color="accent" matTooltip="click ici pour annuler la modification">Annuler</button>
 
</mat-dialog-actions>


