<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div>
  <!-- *ngIf="!showlist" -->
  <div class="content" fxLayout="row wrap" fxLayoutGap="16px grid">

    <div fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="33%">
      <mat-card class="example-card">

        <mat-card-header>
          <mat-card-title>{{VoiD.marque}}</mat-card-title>
          <mat-card-subtitle>MODELE:{{VoiD.modele}}</mat-card-subtitle>
        </mat-card-header>

        <img mat-card-image src={{VoiD.image}} alt="Photo of a Shiba Inu">


        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>

      </mat-card>

    </div>


    <div fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="33%">
      <mat-card class="example-card">

        <mat-card-content>
          <ul class="list-group list-group-flush">

            <li class="list-group-item">
              <h1>Elite Auto, Ajoutez Alexa à votre voiture</h1>
              <a outerLinkActive="active" routerLink="">
                <h5>Marque : {{VoiD.modele}}</h5>
              </a>
              <div>
              <h5>
                <div class="example-button-row">     
                <button style="width:18px;" mat-icon-button svgIcon="star" *ngFor="let i of [1,2,3,4,5]"
                  matTooltipPosition="above">
                  <mat-icon class="color-icon">
                    {{showIcon(i)}}
                  </mat-icon>
                </button>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a outerLinkActive="active" routerLink="">{{VoiD.formed}} évaluations </a>&nbsp;|&nbsp;
                <a outerLinkActive="active" routerLink="">{{VoiD.formed}} questions avec réponses </a>
              </div>
              </h5>
            </div>
            </li>
            <li class="list-group-item">
              <table>
                <tr>
                  <td>
                    <h4>Prix</h4>
                  </td>
                  <td>
                    <h4> &nbsp;:&nbsp;<span class="a-size-medium a-color-price ">{{VoiD.prix}}&nbsp;€</span>
                      <span id="price-shipping-message" class="a-size-base a-color-base"></span></h4>
                  </td>
                </tr>
                <tr>
                  <td></td>
                  <td>
                    <div class="a-section custom-price-messaging">
                      <span class="a-size-base">
                        <p><strong>+ Avantage:</strong> Profitez d'un essai <strong>GRATUIT</strong> de 60 jours aux
                          Livres Audio <strong>Audible</strong> après achat et enregistrement de votre Echo Auto. <a
                            href="https://www.amazon.fr/b?node=21868641031">Voir détail de l'offre</a></p>
                      </span>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td></td>
                  <td><span class="a-size-base">Tous les prix incluent la TVA.</span></td>
                </tr>
              </table>
            </li>
            <li class="list-group-item">
              <h5 class="card-title">MOTOR:</h5>{{VoiD.motor}}
            </li>
            <li class="list-group-item">
              <h5 class="card-title">COULEUR:</h5>{{VoiD.couleur}}<br>
            </li>
            <li class="list-group-item">
              <h5 class="card-title">NOMBRE DE PORTES</h5>{{VoiD.portes}}<br>
            </li>
            <li class="list-group-item">
              <h5 class="card-title">motor:</h5>{{VoiD.motor}}<br>
            </li>
            <li class="list-group-item">
              <h5 class="card-title">info:</h5><small>{{VoiD.info}}</small>
            </li>
          </ul>
        </mat-card-content>
      </mat-card>

    </div>


    <div fxFlex="20%" fxFlex.xs="100%" fxFlex.sm="33%">

         
               <div class="container" style="display:flex; justify-content: space-around;">
                <a data-height="400" target="_blank" rel="noopener" title="E-mail"
                  href="mailto:?body=Je%20souhaite%20vous%20recommander%20ce%20produit%20sur%20Amazon.fr%0A%0AEcho%20Auto%2C%20Ajoutez%20Alexa%20%C3%A0%20votre%20voiture%0Apar%20Amazon%0AEn%20savoir%20plus%20%3A%20https%3A%2F%2Fwww.amazon.fr%2Fdp%2FB078YP59TT%2Fref%3Dcm_sw_em_r_mt_dp_2wtyFb3HYP0Z5&amp;subject=Je%20vous%20recommande%20ce%20produit%20sur%20Amazon">
                <i class="fa fa-envelope" style="font-size:30px;color:rgb(0, 26, 255);"></i>
                </a>

                <a data-height="400" target="_blank" rel="noopener" title="linkedin"
                  href="https://www.linkedin.com/company/angular-js/">
                <i class="fa fa-linkedin-square" style="font-size:30px;color:rgb(0, 26, 255);"></i>
                </a>

                <a data-height="400" target="_blank" rel="noopener" title="Facebook"
                  href="https://www.facebook.com/angularjswiki">
                <i class="fa fa-facebook-square" style="font-size:30px;color:rgb(0, 26, 255);"></i>
                </a>

                <a data-height="400" target="_blank" rel="noopener" title="Twitter"
                  href="https://twitter.com/angular_js">
                  <i class="fa fa-twitter" style="font-size:30px;color:rgb(0, 162, 255);"></i>
                </a>

                <a data-height="400" target="_blank" rel="noopener" title="Pinterest"
                  href="https://www.pinterest.com/pin/816910819880606320/">
                <i class="fa fa-pinterest" style="font-size:30px;color:rgb(197, 43, 43);"></i>
                </a>

                <a data-height="400" target="_blank" rel="noopener" title="instagram"
                  href="https://www.instagram.com/angularwiki/">
                <i class="fa fa-instagram" style="font-size:30px;color:red"></i>
                </a>
              </div>
 
      <mat-card class="example-card">

        <mat-card-header>
          <mat-card-title>
            <h4><span id="priceblock_ourprice"
                class="a-size-medium a-color-price priceBlockBuyingPriceString">{{VoiD.prix}}&nbsp;€</span>
              <span id="price-shipping-message" class="a-size-base a-color-base"></span></h4>
          </mat-card-title>
          <mat-card-subtitle>
            <span class="a-size-base">
              <p style="color: #ff2600;">Cet article ne peut pas être livré à l’adresse sélectionnée.
                Veuillez choisir une adresse différente.</p>
            </span>
          </mat-card-subtitle>
        </mat-card-header>

        <div>
          <mat-form-field>
            <mat-label>Quantite: </mat-label>

            <mat-select [(value)]="selected" (click)="changeClient()">
              <mat-option value="1">1</mat-option>
              <mat-option value="2">2</mat-option>
              <mat-option value="3">3</mat-option>
              <mat-option value="4">4</mat-option>
            </mat-select>

          </mat-form-field>
   
        </div>

        <br><br>

        <mat-card-actions>
          <div style="display: grid; justify-content: center;">
            <button style="margin: 0 8px;" class="a-button-primary"  mat-button (click)="ajoutPanier()"><i class="fa fa-envelope"></i>&nbsp;&nbsp;&nbsp;&nbsp; Ajouter au panier</button><br>
            
            <button  class="a-button-primary" mat-button><i class="fa fa-youtube-play"></i>&nbsp;&nbsp;&nbsp;&nbsp;Acheter cet article</button>
          </div>
         
        </mat-card-actions>

      </mat-card>

    </div>
  </div>

</div>