
.example-card { 
    /* width: 362px;
    height: 209px; */

    width: 100%;
    height: 100%;
   
       }

       .example-button-row{
        display: table-cell;
        width:100%;
       }
    .container{
        padding: 16px; 
        
    }
    h3{
        color: rgb(4, 49, 250);
    }
    h5{
        color: rgb(4, 58, 253);
    }
  

    .content{
        padding: 16px; 
        width: 100%;
        height: 100%;
    }

    .color-icon {
        /* color: #f0c14b; */
        color: #ff9000;
    border-color: #ff9000;

        /* background: #f0c14b;
    /* border-color: #a88734 #9c7e31 #846a29; */ 
        
    }
    .color-icon-shop {
        color: rgba(0, 4, 219, 0.555);
        
    }
    .a-icon {
        display: inline-block;
        vertical-align: top;
    }

    .a-icon-star{
        position: relative;
        vertical-align: text-top;
    }
    .a-star-4 {
        background-position: -21px -368px;
    }
    .a-icon{
        background-image: url(https://m.media-amazon.com/images/G/01/AUIClients/AmazonUIIcon-sprite_1x-e943461…._V2_.png);
        -webkit-background-size: 400px 900px;
        background-size: 400px 900px;
        background-repeat: no-repeat;
    }    
    i {
        font-style: italic;
    }

    .a-size-medium {
        font-size: 17px!important;
        line-height: 1.255!important;
    }

    .a-size-medium {
        text-rendering: optimizeLegibility;
    }

    .a-color-price {
        /* color: #B12704!important; */
        color:rgb(197, 43, 43);
    }
    td.a-span12, th.a-span12 {
        width: 104.93%;
        float: none!important;
    }
    td {
        display: table-cell;
        vertical-align: top;
    }
    .a-section:last-child {
        margin-bottom: 0;
    }
    .a-section {
        margin-bottom: 22px;
    }

    ul .network-icon {
        display: inline-flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        list-style: none;
        padding: 0;
    }
/* 
    ul {
        display: block;
        list-style-type: disc;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 40px;
    } */

    
    .a-icon-share-twitter, .a-share-twitter {
        width: 18px;
        height: 17px;
        background-position: -277px -220px;

   }
   /* .bkGround{
       background-image:url('https://www.green-escape.fr/wp-content/uploads/2012/10/caddie.gif');
       background-size: 100%;
   } */
   .color-icon-shop{
    /* font-size: 30px; */
    /* width: 18px;
    height: 17px; */
    font-size: -webkit-xxx-large;
   }
   .a-button-primary {
    /* background: #f0c14b;
    border-color: #a88734 #9c7e31 #846a29; */
    /* color: #111; */
    width: 200px;
    height: 40px;
    /* margin: 0 8px; */

    background-color: #ff9000;
    border-color: #ff9000;
    transition: all 0.3s;
    color: #fff;
    text-transform: uppercase;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    

    
    border-style: solid;
    border-width: 0;
    cursor: pointer;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-weight: normal;
   
   
    position: relative;
    text-align: center;
    text-decoration: none;
    display: inline-block;
   
    

}

.example-spacer {
    flex: 1 1 auto;
    
  }

  @media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }
  .col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
  }

  [class*="col-"] {
    width: 100%;
  }